.App {
    background-color: #353935;
    min-width: 100vh;
    min-height: 100vh;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 0;
    padding: 16px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 3px #336699;
}

.Grid {
    border-top: 2px double #336699;
    border-right: 1px double #336699;
    border-bottom: 1px double #336699;
    border-left: 2px double #336699;
}

.ToggleGame {
    background-color: #2a2d2e;
    color: whitesmoke;
    border: 2px double black;
    outline: none;
    border-radius: 12px;
    margin-bottom: 32px;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
}

.ToggleGame:hover {
    background-color: #353935;
}
